@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
    Header
*/

header{
    width: 100%;
    height: 86px;
    position: sticky;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: #fff;
    display: flex;
    align-items: center;
}
.header-container{
    width: 100%;
    display: flex;
    align-items: center;
}
.header-left{
    margin: 0 100px 0 32px;
}
.header-location {
    margin-right: 40px;
}

.header-location .title {
    color: black;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 6px;
}

.header-location .description {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.header-search{
    width: 832px;
    height: 46px;
    cursor: text;
    border: 1px solid rgba(0,0,0,0.04);
    border-radius: 12px;
    padding: 0 12px;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 70px;
}

.header-search svg{
    width: 20px;
    font-weight: 600;
}

.header-search input {
    background-color: transparent;
    border: none;
    outline: none;
}

.header-login {
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    margin-right: 70px;
}

.header-right {
    width: 112px;
    height: 52px;
    background-color: rgb(12, 131, 31);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.header-right svg {
    width: 20px;
    margin-right: 8px;
}

/*
    Main
*/

main {
    display: flex;
    justify-content: center;
}

main .container {
    max-width: 1080px;
}

.section-1, .section-1 img {
    width: 100%;
}

.section-2 {
    margin-bottom: 16px;
    display: flex;
    overflow: auto scroll;
    gap: 16px;
    border-radius: 12px;
}

.section-2 img {
    height: 195px;
    width: 335px;
    cursor: pointer;
    display: flex;
}

.section-3 {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.section-3-img {
    width: 120px;
}

.section-3-img img {
    width: 100%;
    cursor: pointer;
}

.section-4 {
    margin: 16px;
}

.section-4 .header {
    font-size: 24px;
    font-weight: 500;
}
.section-list {
    margin-top: 16px;
    width: 100%;
    display: flex;
    overflow: auto scroll;
    gap: 20px;
}

.product-card {
    padding: 12px;
    width: 280px;
    border: 0.5px solid rgb(221, 221, 221);
}

.product-card img {
    width: 100%;
    cursor: pointer;
}

.product-card .title {
    font-size: 14px;
    margin-bottom: 2px;
}

.product-card .desc {
    font-size: 14px;
    margin-bottom: 12px;
    color: #757575;
}

.product-card .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card button {
    width: 80px;
    height: 32px;
    background-color: rgb(247, 255, 249);
    border: 1px solid rgb(12, 131, 31);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    Footer
*/

footer {
    margin-top: 32px;
    padding: 20px;
    text-align: center;
}
